@font-face {
  font-family: 'TTCommons';
  src: url('~/public/fonts/TTCommons-Regular.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 84px;
  font-weight: 400;
}
